<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MnemoPhoto</title>
    <link rel="icon" href="../logo.ico" type="image/x-icon" />

    <!--Font Links-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!--Searchbar Animation Links-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <!--Style Links-->
    <link rel="stylesheet" href="../style/folder.css" />
    <link rel="stylesheet" href="../style/shearch_bar.css" />
    <link rel="stylesheet" href="../style/minimal_header.css" />
    <link rel="stylesheet" href="../style/scrollBar.css" />
    <link rel="stylesheet" href="../style/imageInfoPopup.css" />

    <!--Script Links-->
    <!--<script  src="./script/ajuste_thmbnail.js" defer></script>-->
    <script type="module" src="../script/FolderPageScript.js" defer></script>
  </head>

  <body>
    <header id="header">
      <p id="album-name">My Folder</p>

      <!-- Search Form -->
      <div action="" id="search-form">
        <input type="search" id="search-input" required />
        <button class="fa fa-search" id="search-icon"></button>
      </div>
    </header>

    <!-- Main Content Section -->
    <main id="main-content"></main>

    <p class="home-description" id="home-element-count">
      5 345 photos, 543 videos
    </p>
  </body>
</html>
